<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<htmlxmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="fast_order_detail" 
             style="background-color: grey; width: 500px; height: 300px;">
            <div th:each="dish :${order.dishes}">
                <img th:src="${dish.image_link_to_show}" style="width: 50px; height: 50px;"/>
                <p th:text="${dish.name}" style="display: inline-block"></p>
            </div>
        </div>
    </body>
</html>
