
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>JSP Page</title>
        <link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        
        <link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.rateyo.min.css}" />
        
        <link rel="stylesheet" type="text/css"
	th:href="@{/thai/css/Thong_ke_trong_thang_style.css}" />
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css"/>
        
<!--        <link rel="stylesheet" type="text/css"
	th:href="@{/css/clndr.css}" />-->
        
<!--        <link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />-->
        
<!--        <link rel="stylesheet" type="text/css"
	th:href="@{/css/calendar.css}" />-->
<!--    <script type="text/javascript" th:src="@{/js/underscore-min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>-->

    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                    <a class="navbar-brand" href="index.html">UET CĂNG TIN</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/home.html}">Thực Đơn</a>
                        </li>
                        <li>
                            <a href="#">Thực Đơn Của Tôi</a>
                        </li>
                        <li>
                            <a th:href="@{/order/month}">Thống Kê Trong Tháng</a>
                        </li>
                        <li>
                            <a th:if="${#strings.contains(#authentication.principal.authorities[0],'Admin')}"
                               th:href="@{/admin}">Quản trị</a>
                        </li>
                        <li>
                            <a href="#" th:href="@{/user/logout}">
                                Đăng xuất
<!--                                <form action="#" th:action="@{/user/logout}" method="POST">
                                    <input type="submit" value="Đăng xuất"/>
                                </form>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav> <!-- End Menu -->
        
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <h2 class="brand-before">
                            <small>Mừng Bạn</small>
                        </h2>
                        <h1 class="brand-name">
                            Enma Ai
                            <!--<security:authentication property="principal.username" />-->
                        </h1>
                        <hr class="tagline-divider">
                        <h2>
                            <small>
                                <strong>ĐH Công Nghệ - ĐHQGHN</strong>
                            </small>
                        </h2>
                    </div>
                </div>
            </div>
        
        <div id="MonthOrder" th:fragment="MonthOrder">
            
<!--            <input type="hidden" th:value="${#strings.concat(year,'-',month)}" id="monthValue"/>
            <input type="button" value="Trước" id="btnOrderMonthPrevious" onclick="previousOrderMonth()" />
            <input type="button" value="Sau" id="btnOrderMonthNext" onclick="nextOrderMonth()" />
            <div>
                Tháng <span th:text="${month}"></span> - <span th:text="${year}"></span>
            </div>
            
            <div th:if="${orders ==null}">Không có đăng ký ăn nào trong tháng này</div>
	        
	        <div th:if="${orders !=null}">
	            <table border="1">
	                <tr>
	                    <td>Thời gian</td>
	                    <td>Giá tiền</td>
	                    <td>Thông tin</td>
	                    <td>Đánh giá</td>
	                </tr>
	                <tr th:each="order : ${orders}" class="DetailMenu">
	                    <td th:text="${#dates.format(order.day,'d-M-yyyy')}"></td>
	                    <td th:text="${order.price}"></td>
	                    <td th:text="${order.infor}"></td>
	                    <td><a th:href="@{'/order/'+ ${order.day} }">Chi tiết</a></td>
	                    <td>
                                <div class="rateYo" 
                                    th:attr="data-rateyo-rating=${order.rate}">
                                </div>
                            </td>
                        <input type="hidden" th:value="${order.day}" name="orderDay"/>
	                </tr>
	            </table>
                    <div style="display: none;" class="fast_order_detail">abc</div>
	        </div>-->

        

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Danh Sách Suất Ăn Của Tôi</strong></h2><hr/>
                    <div class="text-center">
                        <input type="hidden" th:value="${#strings.concat(year,'-',month)}" id="monthValue"/>
                        <button id="btnOrderMonthPrevious" onclick="previousOrderMonth()">
                            <img th:src="@{/thai/Img/previous.png}" alt="">
                        </button>
                        <label class="text-center">
                            Tháng <span th:text="${month}"></span> năm <span th:text="${year}"></span>
                        </label>
                        <button id="btnOrderMonthNext" onclick="nextOrderMonth()">
                            <img th:src="@{/thai/Img/next.png}" alt="">
                        </button>
                    </div>

                    <!-- <hr> -->
                    <div th:if="${orders ==null}">Không có đăng ký ăn nào trong tháng này</div>
                    
<!--                    <div th:if="${orders !=null}">
	            <table border="1">
	                <tr>
	                    <td>Thời gian</td>
	                    <td>Giá tiền</td>
	                    <td>Thông tin</td>
	                    <td>Đánh giá</td>
	                </tr>
	                <tr th:each="order : ${orders}" class="DetailMenu">
	                    <td th:text="${#dates.format(order.day,'d-M-yyyy')}"></td>
	                    <td th:text="${order.price}"></td>
	                    <td th:text="${order.infor}"></td>
	                    <td><a th:href="@{'/order/'+ ${order.day} }">Chi tiết</a></td>
	                    <td>
                                <div class="rateYo" 
                                    th:attr="data-rateyo-rating=${order.rate}">
                                </div>
                            </td>
                        <input type="hidden" th:value="${order.day}" name="orderDay"/>
	                </tr>
	            </table>
                    <div style="display: none;" class="fast_order_detail">abc</div>
	        </div>-->
                    
                    <div th:if="${orders !=null}">
                        <div id="mon_an">
                            <table class="table table-hover">
                                <tr>
                                    <th class="text-center">STT</th>
                                    <th class="text-center">Ngày ăn</th>
                                    <th class="text-center">Giá tiền</th>
                                    <th class="text-center">Thông tin</th>
                                    <th>Đánh giá</th>
                                </tr>
                                <tr th:each="order,i : ${orders}" class="DetailMenu">
                                    <td class="text-center" th:text="${i.count}"></td>
                                    <td class="text-center" th:text="${#dates.format(order.day,'d-M-yyyy')}"></td>
                                    <td class="text-right" th:text="${#numbers.formatInteger(order.price,3,'POINT')}"></td>
                                    <td th:text="${order.infor}"></td>
                                    <!--<td><a th:href="@{'/order/'+ ${order.day} }">Chi tiết</a></td>-->
                                    <td>
                                        <div class="rateYo" 
                                            th:attr="data-rateyo-rating=${order.rate}, 
                                            data-rateyo-read-only=${not order.canRate}">
                                        </div>
                                    </td>
                                <input type="hidden" th:value="${order.day}" name="orderDay"/>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Tổng:</td>
                                    <td class="text-right" th:text="${#numbers.formatInteger(totalPrice,3,'POINT')}"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


             <script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
            
        <script type="text/javascript"
        th:src="@{/js/order_month_next_pre.js}"></script>
        
        <script type="text/javascript"
        th:src="@{/js/jquery.rateyo.min.js}"></script>
        
        <script type="text/javascript"
        th:src="@{/js/submit_rating.js}"></script>
        
        <script type="text/javascript"
        th:src="@{/js/show_fast_menu_detail.js}"></script>


    </div>
            
        </div>
        
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Chúc bạn có bữa ăn ngon miệng</strong>
                    </h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consequuntur, est dolore quaerat iste obcaecati.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dolor quod ut nemo veniam sint, voluptates labore quo autem neque dicta fuga nostrum quidem odit itaque rem nesciunt fugiat doloremque. Dolore, id optio enim natus.</p>
                </div>
            </div>
        </div>
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; Your Website 2017</p>
                    </div>
                </div>
            </div>
        </footer>
        
<!--        <table>
            <tr>
                <td th:each="i : ${#numbers.sequence( 1, 10)}"><input type="button" th:value="${i}"/></td>
            </tr>
            
            <tr>
                <td th:each="i : ${#numbers.sequence( 11, 20)}"><input type="button" th:value="${i}"/></td>
            </tr>
            
            <tr>
                <td th:each="i : ${#numbers.sequence( 21, 31)}"><input type="button" th:value="${i}"/></td>
            </tr>
            
        </table>
        <hr/>
        
        
         <div class="container">
             <div class="cal1"></div>
         
            <script id="calendar-template" type="text/template"> 
                      <div class="controls">
        <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %></div><div class="clndr-next-button">&rsaquo;</div>
      </div>

      <div class="days-container">
        <div class="days">
          <div class="headers">
            <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
          </div>
          <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
        </div>
            </script>
         </div>-->
        
<!--        <script type="text/javascript"
            th:src="@{/js/underscore-min.js}"></script>
        
        <script type="text/javascript"
            th:src="@{/js/calendar.js}"></script>-->
        
<!--        <script type="text/javascript">
           
        </script>-->
        
<!--        <script type="text/javascript">
		var calendar = $("#calendar").calendar(
			{
                            
				tmpl_path: "/tmpls/",
				events_source: function () { return []; },
                                view: 'month',
                                tmpl_cache: false,
                                day: '2017-08-18'
			});		
                        
                        $("#DMNHANO").click(function(){
                            alert("dm nha no");
                        });
                        
//                        var options = {
//	    events_source: 'events.json.php',
//	    
//        	};
	</script>-->
    
<!--    <script type="text/javascript" th:src="@{/js/clndr.js}"></script>
    <script type="text/javascript" th:src="@{/js/clnrd_demo.js}"></script>-->
        
    </body>
</html>
    
