<!--
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Thực đơn</title>
    </head>
<body>
    Now is: <b th:text="${execInfo.now.time}"></b>
	<h1>Đăng ký thực đơn</h1>
        <a href="/order">Thực đơn</a>
        <a href="/order/month">Thống kê</a>
        
        <a sec:authorize="isAnonymous()" href="/user/login">Đăng nhập</a>
        
        
        <span sec:authorize="isAuthenticated()">
            <form action="#" th:action="@{/user/logout}" method="POST">
                <input type="submit" value="Đăng xuất"/>
            </form>
            
            
       Logged user: <span   sec:authentication="name"></span> <br/>
       role: <span sec:authentication="principal.authorities"></span>
        </span>

</body>
</html>-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Xem Danh Sách Thực Đơn</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/thai/css/bootstrap.css}" 
              rel="stylesheet" type="text/css"/>
        

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" 
              th:href="@{/thai/css/home.css}"/>
        <link rel="stylesheet" type="text/css" 
              th:href="@{/thai/css/fast_dish_detail.css}"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                    <a class="navbar-brand" href="index.html">UET CĂNG TIN</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/home.html}">Thực Đơn</a>
                        </li>
                        <li>
                            <a href="#">Thực Đơn Của Tôi</a>
                        </li>
                        <li>
                            <a th:href="@{/order/month}">Thống Kê Trong Tháng</a>
                        </li>
                        <li>
<!--                            <div sec:authorize="hasAuthority('ADMIN')">
  This content is only shown to administrators.
</div>-->
                            <!--<span sec:authentication="principal.authorities[0]"></span>-->
                            <a th:if="${#strings.contains(#authentication.principal.authorities[0],'Admin')}"
                               th:href="@{/admin}">Quản trị</a>
                        </li>
                        <li>
                            
<!--                        **************************************************************   
                            **************************************************************
                            bỏ thẻ a đi
                            đăng xuất bắt buộc phải để trong form như thế

                            để thẻ a bị lỗi css
                             

                            **************************************************************
                            **************************************************************-->
                            <a href="#" th:href="@{/user/logout}">
                                Đăng xuất
<!--                                <form action="#" th:action="@{/user/logout}" method="POST">
                                    <input type="submit" value="Đăng xuất"/>
                                </form>-->
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav> <!-- End Menu -->

        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <h2 class="brand-before">
                            <small>Mừng Bạn Đến Với</small>
                        </h2>
                        <h1 class="brand-name">Căng Tin</h1>
                        <hr class="tagline-divider"/>
                        <h2>
                            <small>
                                <strong>ĐH Công Nghệ - ĐHQGHN</strong>
                            </small>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr/>
                        <h2 class="intro-text text-center">Mời bạn chọn 
                            <strong>món ăn</strong>
                        </h2>
                        <!--<p class="text-center">Ngày <strong>12/09/2017</strong></p>-->
<!--                        <div>
                            <button id="previous-bt" onclick="orderPrevious()"><img th:src="@{/thai/Img/previous.png}" alt="" /></button>
                            <button onclick="orderNext()"><img th:src="@{/thai/Img/next.png}" alt="" /></button>
                        </div>-->
                        <!--<hr/>-->
                        
                        <div id="OrderForm">
                            <th:block th:if="${order != null}">
                                <th:block th:include="order/detail ::EditOrderForm"></th:block>
                            </th:block>

                            <th:block th:if="${order == null and menu != null}">
                                <th:block th:include="order/register ::RegisterOrderForm"></th:block>
                            </th:block>
                            
                            <th:block th:if="${order == null and menu == null}">
                                Hiện tại chưa có thực đơn mới. Bạn vui lòng quay lại sau
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr/>
                        <h2 class="intro-text text-center">
                            <strong>Chúc bạn có bữa ăn ngon miệng</strong>
                        </h2>
                        <hr/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae consequuntur, est dolore quaerat iste obcaecati.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore dolor quod ut nemo veniam sint, voluptates labore quo autem neque dicta fuga nostrum quidem odit itaque rem nesciunt fugiat doloremque. Dolore, id optio enim natus.</p>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; Your Website 2017</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- jQuery -->
        <script th:src="@{/thai/js/jquery-3.2.1.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/thai/js/bootstrap.js}"></script>
        <script th:src="@{/thai/js/handl.js}"></script>
        
        <script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
        
        <script type="text/javascript" th:src="@{/js/order_next_pre.js}"></script>
        <script type="text/javascript" th:src="@{/js/show_fast_dish_detail.js}"></script>
        <script type="text/javascript" th:src="@{/js/choose_dish.js}"></script>
        
    </body>
</html>
    

